<aside class="container col-11 col-sm-9 col-md-5 my-4 form-component" id="resetPasswordAside">
    <div class="row justify-content-center">
        <h2 class="text-center my-3">REINICIAR CONTRASEÑA</h2>
    </div>
    <div class="row justify-content-center mx-0">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="checkSubmit()">
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l> <span class="fas fa-user fa-lg"></span> </span>
                <input type="email" class="form-control" id="emailFieldResetPassword" placeholder="Correo electrónico para recuperar contraseña" aria-describedby="emailFieldHelpResetPassword" formControlName="email" [class.is-invalid]="isFieldInvalid('email')">
            </div>
            <small *ngIf="isFieldInvalid('email')" id="emailFieldHelpResetPassword" class="form-text text-danger">El correo ingresado no cumple con el formato de correo, por favor ingrese un correo válido (ej. usuario@dominio.com).</small>
            <div class="input-group my-3">
                <button type="submit" class="btn btn-primary col-12" [class.disabled]="resetPasswordForm.invalid" [attr.data-bs-toggle]="resetPasswordForm.invalid ? 'modal' : ''" data-bs-target="#popUpWindow">Registrar</button>
            </div>
        </form>
    </div>

    <app-pop-up-window [message]="'Formato de correo no válido'"></app-pop-up-window>
</aside>