<aside class="container col-11 col-sm-9 col-md-5 my-4 form-component" id="signUpAside">
    <div class="row justify-content-center">
        <h2 class="text-center my-3">CREAR CUENTA</h2>
        <img src="../../../assets/images/signupImg.png" class="img-fluid col-5" alt="...">
    </div>
    <div class="row justify-content-center mx-0">
        <form>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-user fa-lg"></span></span>
                <input type="email" class="form-control" id="emailFieldSignUp" placeholder="Correo electrónico" aria-describedby="emailFieldHelpSignUp">
            </div>
            <small *ngIf=true id="emailFieldHelpSignUp" class="form-text text-danger">Wrong email!</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-lock-alt fa-lg"></span></span>
                <input type="password" class="form-control" id="passwordFieldSignUp" placeholder="Contraseña" aria-describedby="passwordFieldHelpSignUp">
            </div>
            <small *ngIf=false id="passwordFieldHelpSignUp" class="form-text text-danger">Wrong password!</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary"><span class="far fa-calendar-alt fa-lg"></span></span>
                <input type="date" class="form-control" id="birthdayFieldSignUp" min="1950-01-01" max="2020-12-31" aria-describedby="birthdayHelpFieldSignUp">
            </div>
            <small *ngIf=false id="birthdayHelpFieldSignUp" class="form-text text-danger">Wrong date!</small>
            <div class="input-group my-3">
                <button type="submit" class="btn btn-primary col-12">Continuar</button>
            </div>
        </form>
    </div>
</aside>
