<aside class="container col-11 col-sm-9 col-md-5 my-4 form-component" id="signUpAside">
    <div class="row justify-content-center">
        <h2 class="text-center my-3">CREAR CUENTA</h2>
        <img src="../../../assets/images/signupImg.png" class="img-fluid col-5" alt="...">
    </div>
    <div class="row justify-content-center mx-0">
        <form [formGroup]="signUpForm" (ngSubmit)="checkSubmit()">
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-user fa-lg"></span></span>
                <input type="email" class="form-control" id="emailFieldSignUp" placeholder="Correo electrónico" aria-describedby="emailFieldHelpSignUp" formControlName="email" [class.is-invalid]="isFieldInvalid('email')">
            </div>
            <small *ngIf="isFieldInvalid('email')" id="emailFieldHelpSignUp" class="form-text text-danger">El correo ingresado no cumple con el formato de correo, por favor ingrese un correo válido (ej. usuario@dominio.com)</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-pencil-alt fa-lg"></span></span>
                <input type="text" class="form-control" id="nameFieldSignUp" placeholder="Nombre" aria-describedby="firstNameFieldHelpSignUp" formControlName="firstName" [class.is-invalid]="isFieldInvalid('firstName')">
            </div>
            <small *ngIf="isFieldInvalid('firstName')" id="firstNameFieldHelpSignUp" class="form-text text-danger">Este campo solo admite caracteres alfanuméricos (entre 3 y 50)</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-pencil-alt fa-lg"></span></span>
                <input type="text" class="form-control" id="lastNameFieldSignUp" placeholder="Apellidos" aria-describedby="lastNameFieldHelpSignUp" formControlName="lastName" [class.is-invalid]="isFieldInvalid('lastName')">
            </div>
            <small *ngIf="isFieldInvalid('lastName')" id="lastNameFieldHelpSignUp" class="form-text text-danger">Este campo solo admite caracteres alfanuméricos (entre 3 y 50)</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary"><span class="far fa-calendar-alt fa-lg"></span></span>
                <input type="date" class="form-control" id="birthdateFieldSignUp" [min]="getMinBirthDate()" [max]="getMaxBirthDate()" aria-describedby="birthdateHelpFieldSignUp" formControlName="birthDate" [class.is-invalid]="isFieldInvalid('birthDate')">
            </div>
            <small *ngIf="isFieldInvalid('birthDate')" id="birthdateHelpFieldSignUp" class="form-text text-danger">No se ha ingresado una fecha correcta.</small>
            <div class="input-group my-3">
                <button type="submit" class="btn btn-primary col-12" [class.disabled]="signUpForm.invalid" [attr.data-bs-toggle]="signUpForm.invalid ? 'modal' : ''" data-bs-target="#popUpWindow">Continuar</button>
            </div>
        </form>
    </div>

    <app-pop-up-window [message]="'Algunos campos no están llenados correctamente'"></app-pop-up-window>
</aside>