aside#loginAside>div.row>img {
    border-radius: 5vw;
    width: 40%;
}

aside#loginAside ul {
    list-style-type: none;
    text-align: center;
}

aside#loginAside>nav a {
    color: #e7e7e7;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, Arial;
}

aside#loginAside>nav li>a:hover {
    text-decoration: underline;
}

aside#loginAside>nav li>a:focus {
    text-decoration: underline;
}