<aside class="container col-11 col-sm-9 col-md-5 my-4 form-component" id="loginAside">
    <div class="row justify-content-center">
        <h2 class="text-center my-3">INGRESAR</h2>
        <img src="../../../assets/images/loginImg.jpg" class="img-fluid col-5 my-1" alt="...">
    </div>
    <div class="row justify-content-center mx-0">
        <form [formGroup]="loginForm" (ngSubmit)="checkSubmit()">
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-user fa-lg"></span></span>
                <input type="email" class="form-control" id="emailFieldLogin" placeholder="Correo electrónico" aria-describedby="emailFieldHelpLogin" formControlName="email" [class.is-invalid]="isFieldInvalid('email')">
            </div>
            <small *ngIf="isFieldInvalid('email')" id="emailFieldHelpLogin" class="form-text text-danger">Wrong email!</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-lock-alt fa-lg"></span></span>
                <input type="password" class="form-control" id="passwordFieldLogin" placeholder="Contraseña" aria-describedby="passwordFieldHelpLogin" formControlName="password" [class.is-invalid]="isFieldInvalid('password')">
            </div>
            <small *ngIf="isFieldInvalid('password')" id="passwordFieldHelpLogin" class="form-text text-danger">Wrong password!</small>
            <div class="input-group my-3">
                <button type="submit" class="btn btn-success col-12" [class.disabled]="loginForm.invalid" [attr.data-bs-toggle]="loginForm.invalid ? 'modal' : ''" data-bs-target="#popUpWindow">Iniciar Sesión</button>
            </div>
        </form>
    </div>
    <app-pop-up-window [message]="'Algunos campos no están llenados correctamente'"></app-pop-up-window>
</aside>