<section class="container my-5 text-center" id="userHome">
    <h2 class="alert alert-primary" role="alert"> ¡Bienvenido! </h2>

    <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">Hola de nuevo, {{name}}</h4>
        <hr>
        <p>
            Usted ha sido redirigido a esta página ya que no tiene permisos de administrador. <br> Esperamos que disfrute su navegación por nuestra página.
        </p>
        <hr>
        <p class="mb-0"><em>Si requiere permisos de administrador, solicite un cambio de rol.</em></p>
    </div>
</section>
