section#usersTable {
    overflow: auto;
}

section>table {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
}

section>table th {
    cursor: pointer;
    background-color: #44ad56;
}

section>table th:hover {
    background-color: rgba(68, 173, 86, 0.8);
}

section>table th.arrow-up::after {
    content: '\25b4'
}

section>table th.arrow-down::after {
    content: '\25be'
}

section>table>tbody>tr>td {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
}

section>table>tbody>tr>td span,
input {
    cursor: pointer;
}

section#usersTable ul>li>a.page-link {
    color: #0b66b1;
}

section#usersTable ul>li>a.page-link:hover {
    color: #190183;
    background-color: rgba(255, 255, 255, 0.7);
}

section#usersTable ul>li>a.page-link:focus {
    color: #190183;
    background-color: rgba(255, 255, 255, 0.7);
}