<section class="container-fluid col-11 mt-4" id="usersTable">
    <h3 class="col-7 mx-auto alert alert-primary text-center rounded-pill py-2">LISTADO DE USUARIOS REGISTRADOS</h3>

    <app-loading *ngIf="getLoading()"></app-loading>

    <div class="row text-start mx-0 my-3">
        <div class="col px-0 text-end">
            <button class="btn btn-danger" (click)="addUser()">
                <span class="far fa-plus"></span> Agregar usuario
            </button>
        </div>
    </div>

    <table *ngIf="!getLoading()" class="table table-hover text-center table-dark table-responsive">
        <thead>
            <tr class="align-middle">
                <th scope="col" (click)="changeArrowTableHeader('firstName', 0)">Nombre</th>
                <th scope="col" (click)="changeArrowTableHeader('lastName', 1)">Apellidos</th>
                <th scope="col" (click)="changeArrowTableHeader('email', 2)">Correo electrónico</th>
                <th scope="col" (click)="changeArrowTableHeader('birthDate', 3)">Fecha de nacimiento</th>
                <th scope="col" (click)="changeArrowTableHeader('roleId', 4)">Rol</th>
                <th scope="col" (click)="changeArrowTableHeader('active', 5)">Estatus</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getUsersFromAPI(); let i=index" class="align-self-center">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.birthDate.split('T')[0]}}</td>
                <td>{{getRol(user.roleId)}}</td>
                <td>
                    <div class="form-check form-switch d-inline-block align-middle">
                        <input class="form-check-input border-0" [ngClass]="user.active ? 'bg-success': 'bg-secondary'" type="checkbox" (click)="changeStatus(i)" [attr.checked]="getStatus(i)">
                    </div>
                </td>
                <td> <span class="fas fa-edit me-3 fa-lg text-primary" (click)="editUser(i)"></span> </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled mx-1">
                <a class="page-link rounded-3" [routerLink]="routePages" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            <li *ngFor="let page of getPages()" class="page-item mx-1" [class.active]="page===getPagesData().pageNumber">
                <a class="page-link rounded-3" [routerLink]="routePages" (click)=changePage(page)>{{page}}</a>
            </li>
            <li class="page-item mx-1">
                <a class="page-link rounded-3 " [routerLink]="routePages" aria-disabled="false">Siguiente</a>
            </li>
        </ul>
    </nav>
</section>