<section class="container-fluid col-11 mt-5" id="usersTable">
    <div class="row text-start mx-0 my-3">
        <div class="col px-0">
            <button class="btn btn-primary" (click)="true">
                <span class="far fa-plus"></span> Agregar usuario
            </button>
        </div>
    </div>

    <table class="table table-hover text-center table-light table-responsive">
        <thead>
            <tr class="align-middle">
                <th scope="col" (click)="arrow('firstName', 0)">Nombre</th>
                <th scope="col" (click)="arrow('lastName', 1)">Apellidos</th>
                <th scope="col" (click)="arrow('email', 2)">Correo electrónico</th>
                <th scope="col" (click)="arrow('role', 3)">Rol</th>
                <th scope="col" (click)="arrow('active', 4)">Estatus</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersFromAPI; let i=index" class="align-self-center">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.active}}</td>
                <td>
                    <span class="far fa-edit me-3 fa-lg text-success" (click)="f()"></span>
                    <div class="form-check form-switch d-inline-block align-middle">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</section>
