body {
    background: url('assets/images/neorisBG2.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0000009a;
}

div.row form>small {
    font-weight: bold;
}

h2 {
    color: #FFFFFF;
    letter-spacing: 0.5vw;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

form button.btn {
    font-weight: bold;
}
