body {
    background: url('assets/images/neorisBG3.png') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0000009a;
}

div.row form>small {
    font-weight: bold;
}

h2 {
    color: #FFFFFF;
    letter-spacing: 0.2vw;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: calc(1.5rem + 0.5vw);
}

aside.form-component {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

aside.form-component:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

aside.form-component form button.btn {
    font-weight: bold;
    border-radius: 20px;
}

aside.form-component form span.input-group-text,
.form-control,
.form-select {
    border-radius: 15px;
}

aside.form-component form input.form-control:focus {
    background-color: #DDDDDD;
}