<aside class="container col-11 col-sm-9 col-md-5 my-4 form-component" id="createPasswordAside">
    <div class="row justify-content-center">
        <h2 class="text-center my-3">CREAR CONTRASEÑA</h2>
    </div>
    <div class="row justify-content-center mx-0">
        <form [formGroup]="createPasswordForm" (ngSubmit)="checkSubmit()">
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l> <span class="fas fa-lock-alt fa-lg"></span> </span>
                <input type="password" class="form-control" id="passwordFieldCreatePassword" maxlength="10" placeholder="Contraseña" aria-describedby="passwordFieldHelpCreatePassword" (ngModelChange)="checkPasswordConfirm()" formControlName="password" [class.is-invalid]="isFieldInvalid('password')">
            </div>
            <small *ngIf="isFieldInvalid('password') || false" id="passwordFieldHelpCreatePassword" class="form-text text-danger">{{getErrorPassword()}}</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary"> <span class="fas fa-lock-alt fa-lg"></span> </span>
                <input type="password" class="form-control" id="passwordConfirmFieldCreatePassword" maxlength="10" placeholder="Confirmar contraseña" aria-describedby="passwordConfirmFieldHelpCreatePassword" (ngModelChange)="checkPasswordConfirm()" formControlName="passwordConfirm"
                    [class.is-invalid]="isFieldInvalid('passwordConfirm')">
            </div>
            <small *ngIf="!getPasswordsMatched() && createPasswordForm.controls.passwordConfirm.touched" id="passwordConfirmFieldHelpCreatePassword" class="form-text text-danger">{{getMessagePasswordsMismatch()}}</small>
            <div class="input-group my-3">
                <button type="submit" class="btn btn-primary col-12" [class.disabled]="createPasswordForm.invalid || !getPasswordsMatched()" [attr.data-bs-toggle]="!getPasswordsMatched() ? 'modal' : ''" data-bs-target="#popUpWindow">Registrar</button>
            </div>
        </form>
    </div>
    <app-pop-up-window [message]="getMessagePasswordsMismatch()"></app-pop-up-window>
</aside>