<aside class="container col-11 col-sm-9 col-md-5 my-4 form-component" id="createPasswordAside">
    <div class="row justify-content-center">
        <h2 class="text-center my-3">CREAR CUENTA</h2>
    </div>
    <div class="row justify-content-center mx-0">
        <form>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-lock-alt fa-lg"></span></span>
                <input type="password" class="form-control" id="passwordFieldCreatePassword" placeholder="Contraseña" aria-describedby="passwordFieldHelpCreatePassword">
            </div>
            <small *ngIf=false id="passwordFieldHelpCreatePassword" class="form-text text-danger">Wrong password!</small>
            <div class="input-group mt-3">
                <span class="input-group-text text-secondary" l><span class="fas fa-lock-alt fa-lg"></span></span>
                <input type="password" class="form-control" id="passwordConfirmFieldCreatePassword" placeholder="Repita la contraseña" aria-describedby="passwordConfirmFieldHelpCreatePassword">
            </div>
            <small *ngIf=false id="passwordConfirmFieldHelpCreatePassword" class="form-text text-danger">Wrong password2!</small>
            <div class="input-group my-3">
                <button type="submit" class="btn btn-primary col-12">Registrar</button>
            </div>
        </form>
    </div>
</aside>
